/*This file includes image lab styles*/

/*sidebar related styles*/
.sidebar{
    -fx-background-color: #AAAAAA;
    -fx-border-color:#555556;
}

/*infoPane related styles*/
.infoPane{
    -fx-border-color:#555556;
}

/*topNavBar related styles*/
.topNavBar{
    -fx-border-color:#555556;
}
