/*This file includes image lab styles*/

/*sidebar related styles*/
.sidebar {
    -fx-background-color: #AAAAAA;
    -fx-border-color: #555556;
}

/*infoPane related styles*/
.infoPane {
    -fx-border-color: #555556;
}

/*topNavBar related styles*/
.topNavBar {
    -fx-border-color: #555556;
}

/*styles related to the custom shapes*/

/*Read Image UI element*/
#readImage {
    /*-fx-shape: "M 0 0 L 0 -8 L 17 -8 L 22 -4 L 17 0 L 0 0";*/
    -fx-background-color: green;
    -fx-text-fill: white;
}

/*Write image UI element*/
#writeImage {
    /*-fx-shape: "M 0 0 L 19 0 L 19 -8 L 0 -8 L 5 -4";*/
    -fx-background-color: #003380;
    -fx-text-fill: white;
}

/*Rotate image UI element*/
#rotateImage {
    -fx-background-color: #ff9233;
    -fx-text-fill: white;
}

/*ColorMaps image UI element*/
#colorMaps {
    -fx-background-color: #ff5733;
    -fx-text-fill: white;
}
/*Scale Image UI element */
#scaleImage{
	-fx-background-color: #714723;
    -fx-text-fill: white;
}
/*Affine Transform UI element */
#affineTransform{
	-fx-background-color: #c70039;
    -fx-text-fill: white;
}
/*Refection Transform element */
#reflectionTransform{
	-fx-background-color: #ffC300;
    -fx-text-fill: white;
}
/*Draw Line filter effects
 to an image UI element*/
#drawLine {
    -fx-background-color: #e1b7e5;
    -fx-text-fill: white;
}
#drawArrowLine{
	-fx-background-color: #c17fc7;
    -fx-text-fill: white;
}
/*Apply drawing circle effects
 to an image UI element*/
#drawCircle {
    -fx-background-color: #b960c1;
    -fx-text-fill: white;
}
/*Draw Rectangle effects
 * to an image UI element
 */
#drawRectangle{
	-fx-background-color: #b73ec2;
    -fx-text-fill: white;
}
/*Draw Ellipse effects to
 * an image UI element 
 */
#drawEllipse{
	-fx-background-color: #b11abf;
    -fx-text-fill: white;
}
/*Draw Text effects to 
 * an image UI element */
#drawText{
 	-fx-background-color: #7e0589;
    -fx-text-fill: white;
}
/*Convert to grayscale image UI element*/
#grayscaleImage {
    -fx-background-color: #535353;
    -fx-text-fill: white;
}

/*Convert RGB image to binary UI element*/
#coloredToBinary {
    -fx-background-color: #9446d4;
    -fx-text-fill: white;
}

/*Convert gray image to binary UI element*/
#grayToBinary {
    -fx-background-color: #482c5e;
    -fx-text-fill: white;
}

/*Apply blur effects
 to an image UI element*/
#applyBlur {
    -fx-background-color: #699c67;
    -fx-text-fill: white;
}

/*Apply gaussian blur effects
 to an image UI element*/
#applyGaussianBlur {
    -fx-background-color: #73de6f;
    -fx-text-fill: white;
}

/*Apply median blur effects
 to an image UI element*/
#applyMedianBlur {
    -fx-background-color: #254a23;
    -fx-text-fill: white;
}

/*Apply box filter effects
 to an image UI element*/
#applyBoxFilter {
    -fx-background-color: #2957dd;
    -fx-text-fill: white;
}
/*Apply dilation filter effects
 to an image UI element*/
#applyDilationFilter {
    -fx-background-color: #4d9fbf;
    -fx-text-fill: white;
}
/*Apply erosion filter effects
 to an image UI element*/
#applyErosionFilter{
	-fx-background-color: #1d2f73;
    -fx-text-fill: white;
}
/*Apply Image Pyramids Up Filter
 * to an image UI element
 */
 #imagePyramidUpFilter {
 	-fx-background-color: #382bcf;
 	-fx-text-fill: white;
 }
 /*Apply Image Pyramids Down Filter
 * to an image UI element
 */
#imagePyramidDownFilter{
	-fx-background-color: #58589b;
 	-fx-text-fill: white;
}
/*Apply Bilateral Filter
 * to an image UI element
 */
#applyBilateralFilter{
	-fx-background-color: #3268b1;
 	-fx-text-fill: white;
}
/**
 * Apply Filter2D styles */
 #applyFilter2D{
 	-fx-background-color: #5177c9;
 	-fx-text-fill: white;
 }
 /**
  * Apply SQRBox Filter styles */
#applySQRBox{
	-fx-background-color: #2e4b89;
 	-fx-text-fill: white;
}  
/**Apply Morphological Operator styles
 *  */
 #applyMorphological{
 	-fx-background-color: #2e2969;
 	-fx-text-fill: white;
 }
/*Apply threshold effects
 to an image UI element*/
#applyThreshold {
    -fx-background-color: #cfcb3f;
    -fx-text-fill: white;
}

/*Apply adaptive threshold effects
 to an image UI element*/
#adaptiveThreshold {
    -fx-background-color: #4f4f0f;
    -fx-text-fill: white;
}

/*Apply borders
 to an image UI element*/
#applyBorders {
    -fx-background-color: #282828;
    -fx-text-fill: white;
}
/*Sobel derivative styles  */
#sobelDerivate{
	-fx-background-color: #64d1ca;
    -fx-text-fill: white;
}
/*Scharr derivative styles */
#scharrDerivate{
	-fx-background-color: #2ea49d;
    -fx-text-fill: white;
}
/*Laplacian Transformation styles */
#laplacianTransform{
	-fx-background-color: #5c6a69;
    -fx-text-fill: white;
}
/*Distance Transformation styles */
#distanceTransform{
	-fx-background-color: #374746;
    -fx-text-fill: white;
}
/*Canny Edge Detection styles */
#cannyEdge{
	-fx-background-color: #8056cb;
    -fx-text-fill: white;
}
/*Hough Line Transfrom styles */
#houghLine{
	-fx-background-color: #633fa4;
    -fx-text-fill: white;
}
/*Histogram Equalization styles */
#histogramEqual{
	-fx-background-color: #432775;
    -fx-text-fill: white;
}
/**
 * Find Contours UI element styles
 */
 #findImageContours{
 	-fx-background-color: #0994b3;
    -fx-text-fill: white;
 }
 /**
  * Bounding Box For Contours 
  UI element styles */
 #boundBoxContours{
  	-fx-background-color: #056378;
    -fx-text-fill: white;
 }
/**
 * Histogram calculation */
 #calHist{
 	-fx-text-fill: white;
 	-fx-background-color:  linear-gradient(#3e6fdd 21%, #3ddb42 52%, #d61b31 84%);
}
/**
 * Image Moments UI element styles */
 #imageMoments{
 	-fx-background-color: #0C4956;
    -fx-text-fill: white;
 }
 /**
  * Convex Hull UI element styles */
  #convexHull{
  	-fx-background-color: #0D5C84;
    -fx-text-fill: white;
  }
  /*
   * Template Matching element styles */
  #templateMatch{
   	-fx-background-color: #1C5AB9;
    -fx-text-fill: white;
   }