/*This file includes image lab styles*/

/*sidebar related styles*/
.sidebar {
    -fx-background-color: #AAAAAA;
    -fx-border-color: #555556;
}

/*infoPane related styles*/
.infoPane {
    -fx-border-color: #555556;
}

/*topNavBar related styles*/
.topNavBar {
    -fx-border-color: #555556;
}

/*styles related to the custom shapes*/

/*Read Image UI element*/
#readImage {
    /*-fx-shape: "M 0 0 L 0 -8 L 17 -8 L 22 -4 L 17 0 L 0 0";*/
    -fx-background-color: green;
    -fx-text-fill: white;
}

/*Write image UI element*/
#writeImage {
    /*-fx-shape: "M 0 0 L 19 0 L 19 -8 L 0 -8 L 5 -4";*/
    -fx-background-color: #003380;
    -fx-text-fill: white;
}

/*Rotate image UI element*/
#rotateImage {
    -fx-background-color: #ff9233;
    -fx-text-fill: white;
}

/*Convert to grayscale image UI element*/
#grayscaleImage {
    -fx-background-color: #535353;
    -fx-text-fill: white;
}

/*Convert RGB image to binary UI element*/
#coloredToBinary {
    -fx-background-color: #9446d4;
    -fx-text-fill: white;
}

/*Convert gray image to binary UI element*/
#grayToBinary {
    -fx-background-color: #482c5e;
    -fx-text-fill: white;
}

/*Apply blur effects
 to an image UI element*/
#applyBlur {
    -fx-background-color: #699c67;
    -fx-text-fill: white;
}

/*Apply gaussian blur effects
 to an image UI element*/
#applyGaussianBlur {
    -fx-background-color: #73de6f;
    -fx-text-fill: white;
}

/*Apply median blur effects
 to an image UI element*/
#applyMedianBlur {
    -fx-background-color: #254a23;
    -fx-text-fill: white;
}

/*Apply box filter effects
 to an image UI element*/
#applyBoxFilter {
    -fx-background-color: #2957dd;
    -fx-text-fill: white;
}
/*Apply dilation filter effects
 to an image UI element*/
#applyDilationFilter{
	-fx-background-color: #188cdf;
    -fx-text-fill: white;
}

/*Apply threshold effects
 to an image UI element*/
#applyThreshold {
    -fx-background-color: #cfcb3f;
    -fx-text-fill: white;
}

/*Apply adaptive threshold effects
 to an image UI element*/
#adaptiveThreshold {
    -fx-background-color: #4f4f0f;
    -fx-text-fill: white;
}

/*Apply borders
 to an image UI element*/
#applyBorders {
    -fx-background-color: #282828;
    -fx-text-fill: white;
}